<script lang="ts" context="module">
    import { getRestaurantsForUser, type Restaurant } from "$lib/api/restaurant";
    import type { Load } from "./__types/by-me";

    export const load : Load = async function(event) {
        const user_name = event.session.user!.user_name;
        return { status: 200, props: { restaurants: await getRestaurantsForUser(user_name) } };
    }
</script>

<script lang="ts">
    import RestaurantEntry from "$lib/components/RestaurantEntry.svelte";
    export let restaurants : Array<Restaurant> = [];
</script>

<div class="w-[640px] mx-auto">
    {#each restaurants as item}
        <RestaurantEntry restaurant={item}/>
    {:else}
        <p class="text-center text-xl">
            You haven't registered any restaurants yet :(.
            Click <a class="italic hover:underline" href="/restaurant/register">here</a>
            to register new restaurant.
        </p>
    {/each}
</div>

