<script lang="ts">
    import { createForm } from "felte";
    import { goto } from "$app/navigation";
    import { validator } from "@felte/validator-zod";
    import { create as schema } from "$lib/restaurant/schema";
    import { setContext } from "svelte";
    import request from "$lib/request";

    import Button from "$lib/components/Button.svelte"
    import Field from "$lib/components/Field.svelte"

    const { form, errors } = createForm({
        extend: validator({schema}),
        onError: (errors: any) => errors,
        onSubmit: async values => {
            const response = await request("/api/restaurant/register", "POST", values);
            if (response.status != 200) throw response.json();

            goto("/");
        }
    });

    setContext("formErrors", errors);
</script>

<form class="w-[512px] mx-auto" use:form>
    <p class="mb-8 text-lg">
        Register new restaurant by providing following details. Please make sure
        that the restaurant you are trying to add is not already present in our database.
    </p>

    <Field name="name" type="text" label="Name" />
    <Field name="category" type="text" label="Category" />
    <Field name="latitude" type="number" label="Latitude" />
    <Field name="longitude" type="number" label="Longitude" />

    <Button>Register new restaurant</Button>
</form>
