<script type="ts">
    import { session } from "$app/stores";
    import { createForm } from 'felte';
    import { goto } from '$app/navigation';
    import { login as schema } from "$lib/auth/schema";
    import { validator } from "@felte/validator-zod";
    import { setContext } from "svelte";
    import request from "$lib/request";

    import Button from '$lib/components/Button.svelte';
    import Field from '$lib/components/Field.svelte';

    const { form, errors } = createForm({
        extend: validator({schema}),
        onError: (errors: any) => errors,
        onSubmit: async values => {
            const response = await request("/api/auth/login", "POST", values);
            const result = await response.json();

            if (response.status == 401) { throw {"user_name": "Provided credentials don't match our records."}; }
            if (response.status != 200) { return; /* general error handling */ }

            session.update((store: any) => {
                store.isAuthenticated = true;
                store.user = {
                    token: result.token,
                    id: result.id,
                    user_name: result.user_name,
                    first_name: result.first_name,
                    last_name:  result.last_name,
                    registered_at: result.registered_at,
                };
                return store;
            });

            const responseVotes = await request("/api/auth/me", "GET");
            const votes = await responseVotes.json();

            if (responseVotes.status != 200) { return; /* general error handling */ }

            session.update((store: any) => {
                store.user.votes = votes;
                return store;
            });

            goto('/');
        }
    });

    setContext("formErrors", errors);
</script>

<form class="w-[512px] mx-auto" use:form>
    <p class="mb-8 text-lg">To continue enter your login details.</p>

    <Field name="user_name" type="text" label="User name" />
    <Field name="password" type="password" label="Password" />

    <Button>Login</Button>
</form>
