<script lang="ts">
    import { createForm } from "felte";
    import { goto } from "$app/navigation";
    import { register as schema } from "$lib/auth/schema";
    import { validator } from "@felte/validator-zod";
    import { setContext } from "svelte";
    import request from "$lib/request";

    import Button from "$lib/components/Button.svelte";
    import Field from "$lib/components/Field.svelte";

    const { form, errors } = createForm({
        extend: validator({schema}),
        onSubmit: async values => {
            const response = await request("/api/auth/register", "POST", values);
            if (response.status != 200) throw response.json();

            goto("/auth/account-created");
        }
    });

    setContext("formErrors", errors);
</script>

<form class="w-[512px] mx-auto" use:form>
    <p class="mb-8 text-lg">Enter your details for registration to create a new account. As a user you can share stories, register new restaurants and vote!</p>

    <Field name="user_name" type="text" label="User name" />
    <Field name="first_name" type="text" label="First name" />
    <Field name="last_name" type="text" label="Last name" />
    <Field name="password" type="password" label="Password" />
    <Field name="password_confirm" type="password" label="Confirm password" />

    <Button>Register</Button>
</form>
