<style global lang="postcss">
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    .rich-content p, .rich-content h2, .rich-content h3, .rich-content img { @apply mb-4; }
    .rich-content h2 { @apply text-xl; }
    .rich-content h3 { @apply text-lg; }

</style>

<script lang="ts" context="module">
    import { setFetch, subscribeSession } from "$lib/request";
    import { session } from "$app/stores";
    import type { LoadEvent } from "@sveltejs/kit";

    /*
     *  The initialization of request can be here only as long
     *  as we do not reset the __layout in nested routes, this
     *  can probbably be solved in a better way.
     */

    export const load = async (event: LoadEvent) => {
        setFetch(event.fetch as typeof fetch);
        return { status: 200 };
    }
</script>

<script lang="ts">
    import VerticalSpace from '$lib/components/VerticalSpace.svelte';
    import NavItem from "$lib/components/NavItem.svelte";
    import NavLink from "$lib/components/NavLink.svelte";

    subscribeSession(session);
</script>

<div class="mb-6" />
<header class="flex flex-row">
    <a href="/" class="mx-auto">
        <img src="/restaurant-logo.svg" alt="Logo">
    </a>
</header>

<div class="mb-6" />
<nav class="flex flex-row">
    {#if $session.isAuthenticated && $session.user}
        <ul class="flex flex-row gap-6 mx-auto">
            <NavItem href="/">Home</NavItem>
            <NavItem href="/restaurant/register">Register new restaurant</NavItem>
            <NavItem href="/restaurant/by-me">My restaurants</NavItem>
            <li class="flex flex-row gap-2">
                <div>{$session.user.first_name} {$session.user.last_name}</div>
                -
                <NavLink href="/auth/logout">Logout</NavLink>
            </li>
        </ul>
    {:else}
        <ul class="flex flex-row gap-6 mx-auto">
            <NavItem href="/auth/login">Login</NavItem>
            <NavItem href="/auth/register">Register</NavItem>
        </ul>
    {/if}
</nav>

<VerticalSpace />
<slot/>
<VerticalSpace />

<footer class="text-center">
    <p class="font-sm">Created by Daniel Jenikovský 2022.</p>
</footer>
<VerticalSpace />
