<script lang="ts" context="module">
    import { getRestaurants, getRestaurantsForUser, type Restaurant } from "$lib/api/restaurant";
    import type { Load } from "./__types/index";

    export const load : Load = async function(event) {
        /* @note This hack forces refresh when the user object is changed which
                 will trigger redownload of restaurant list. */

        if (event.session.user) {
            const user_name = event.session.user!.user_name;
        }

        return { status: 200, props: { restaurants: await getRestaurants() } };
    }
</script>

<script lang="ts">
    import RestaurantEntry from "$lib/components/RestaurantEntry.svelte";
    import { session } from "$app/stores";
    export let restaurants : Array<Restaurant> = [];
</script>

<div class="w-[640px] mx-auto">
    {#each restaurants as item}
        <RestaurantEntry restaurant={item}/>
    {:else}
        <p class="text-center text-xl">
            There are no restaurants registered yet :(.
            {#if !$session.user}
                Login or register to be able to register new restaurants!
            {/if}
        </p>
    {/each}
</div>

