<script lang="ts" context="module">
    import request from "$lib/request";
    import type { Load } from "./__types/create";

    export const load : Load = async function (event) {
        try {
            const response = await request(`/api/restaurant/${event.params.restaurant_id}`, "GET");
            const restaurant = await response.json();

            return { status: 200, props: { restaurant } };
        } catch (e) {
            return { status: 404 };
        }
    };
</script>

<script lang="ts">
    import { createForm } from "felte";
    import { create as schema, type CreateInput } from "$lib/story/schema";
    import { validator } from "@felte/validator-zod";
    import { goto } from "$app/navigation";
    import { setContext } from "svelte";

    import Field from "$lib/components/Field.svelte";
    import Button from "$lib/components/Button.svelte";
    import RichEditor from "$lib/components/RichEditor.svelte";

    export let restaurant: any = {
        name: "Unknown"
    };

    const { form, errors } = createForm({
        extend: validator({schema}),
        onSubmit: async values => {
            const response = await request(`/api/story/${restaurant.id}/create`, "POST", values);

            if (response.status != 200) { return; /* show errors */ }
            goto("/");
        }
    });

    setContext("formErrors", errors);
</script>

<form class="w-[512px] mx-auto" use:form>
    <p class="mb-8 text-lg">What happend at <strong><em>{restaurant.name}</em></strong> on your last visit? Include some photos, please!</p>

    <RichEditor name="rich_content" placeholder="Start typing your story here!" minHeight={120} />
    <Field name="happend_at" type="date" label="Happend at" />

    <Button>Share!</Button>
</form>
