<script lang="ts">
    import { getContext } from "svelte";

    export let name: string;
    export let label: string;

    const errors : SvelteStore<Record<string, string>> = getContext("formErrors");
</script>

<div class="flex flex-col mt-6">
    <label class="font-bold mb-2" for={name}>{label}:</label>
    <input id={name} name={name} class="transition-all border-2 rounded border-solid focus:border-gray-400 px-4 py-3 outline-none" {...$$restProps}>

    {#if errors && $errors[name]}
        <ul class="mt-2">
        {#each $errors[name] as error}
            <li class="text-red-500">{error}</li>
        {/each}
        </ul>
    {/if}
</div>

