<script lang="ts">
    import type { GetRestaurantsReturnType } from "$lib/restaurant/db";
    import { session } from "$app/stores";
    import request from "$lib/request";

    export let restaurant: any;

    type VoteType = "story"|"restaurant";

    async function doVote(type: VoteType, id: string, method: "POST" | "DELETE") {
        if (!$session.isAuthenticated) return;

        await request("/api/vote", method, {
            id,
            type
        });

        const response = await request("/api/auth/me", "GET");
        const votes = await response.json();

        session.update(s => {
            s.user.votes = votes!;
            return s;
        });
    }

    async function vote(type: VoteType, id: string) {
        return await doVote(type, id, "POST");
    }

    async function unvote(type: VoteType, id: string) {
        return await doVote(type, id, "DELETE");
    }
</script>

<div class="mt-8">
    <h2 class="text-xl">
        <strong>{restaurant.name}</strong>
        {#if $session.user}
            <a class="inline-block ml-2 text-sm hover:underline" href="/story/{restaurant.id}/create">Create story</a>

            {#if $session.user.votes ? $session.user.votes.restaurants.indexOf(restaurant.id) == -1 : false}
                <span on:click={() => vote("restaurant", restaurant.id)}
                   class="inline-block ml-2 text-sm hover:underline cursor-pointer">Vote</span>
            {:else}
                <span on:click={() => unvote("restaurant", restaurant.id)}
                   class="text-green-600 inline-block ml-2 text-sm font-bold hover:underline cursor-pointer">Already voted!</span>
            {/if}
        {/if}
    </h2>
    <div>{restaurant.category}</div>
    <div><em>
        Lat: {restaurant.location.latitude.toFixed(2)},
        Lng: {restaurant.location.longitude.toFixed(2)}
    </em></div>

    <div>
        {restaurant.vote_count} votes
    </div>

    <div>
        By {restaurant.registered_by.first_name} {restaurant.registered_by.last_name} @
        {restaurant.registered_at.toLocaleDateString()}
    </div>

    <div class="mt-6 w-[512px] mx-auto">
        {#each restaurant.stories as story, i}
            <div class="rich-content">
                <small><em>
                    Story from {story.user.first_name} {story.user.last_name} @
                    {story.happend_at.toLocaleDateString()}
                </em></small>
                {#each story.rich_content.blocks as block}
                    {#if block.type === "paragraph"}
                        <p>{@html block.data.text}</p>
                    {:else if block.type === "header"}
                        <svelte:element this={`h${block.data.level}`}>{@html block.data.text}</svelte:element>
                    {:else if block.type === "image"}
                        <img class="w-100 mb-0 block" src="{block.data.file.url}" alt="block.data.caption">
                        <div class="text-center text-sm mb-3">{block.data.caption}</div>
                    {/if}
                {/each}
                <em>
                    {story.vote_count} votes...
                    {#if $session.user}
                        {#if $session.user.votes ? $session.user.votes.stories.indexOf(story.id) == -1 : false}
                            <span on:click={() => vote("story", story.id)}
                               class="inline-block ml-2 hover:underline cursor-pointer">Vote</span>
                        {:else}
                            <span on:click={() => unvote("story", story.id)}
                               class="text-green-600 inline-block ml-2 text-sm font-bold cursor-pointer">Already voted!</span>
                        {/if}
                    {/if}
                </em>
            </div>
            {#if i < restaurant.stories.length-1}
                <hr class="my-6" />
            {/if}
        {:else}
            <p>No stories for this restaurant! Check it out and tell us about it!</p>
        {/each}
    </div>
</div>
