<script lang="ts">
    import { createField } from "felte";
    import { createEditor } from "./RichEditor";
    import { debounce } from "$lib/utils";
    import { getContext } from "svelte";
    import { upload } from "$lib/request";
    import type { API } from "@editorjs/editorjs";

    export let name: string;
    export let label: string = "";
    export let placeholder: string = "";
    export let minHeight: number = 100;

    const { field, onInput } = createField(name);
    const errors : SvelteStore<Record<string, string>> = getContext("formErrors");

    async function createEditorWithTools() {
        // @ts-ignore
        const Header = (await import("@editorjs/header")).default;
        // @ts-ignore
        const Image  = (await import("@editorjs/image")).default;

        const renderToFieldStore = debounce((api: API) => {
            api.saver.save().then(data => {
                onInput(JSON.stringify(data));
            });
        }, 500);

        const editor = createEditor({
            placeholder,
            minHeight,
            tools: {
                header: {
                    class: Header,
                    config: {
                        levels: [2,3],
                        defaultLevel: 2
                    }
                },
                image: {
                    class: Image,
                    config: {
                        uploader: {
                            async uploadByFile(file) {
                                const response = await upload("/api/upload-image", file);
                                return await response.json();
                            }
                        }
                    }
                }
            },
            onChange: (api) => {
                renderToFieldStore(api);
            },
        });

        return editor;
    }
</script>

{#if label}
    <label class="font-bold mb-2" for={name}>{label}:</label>
{/if}

{#await createEditorWithTools()}
    <p>Loading editor.js...</p>
{:then editor}
    {#await editor.action()}
        <p>Loading editor.js...</p>
    {:then action}
        <div class="rich-content" use:action use:field on:blur={() => alert("blur!")}/>
    {/await}
{/await}

{#if errors && $errors[name]}
    <ul class="mt-2">
    {#each $errors[name] as error}
        <li class="text-red-500">{error}</li>
    {/each}
    </ul>
{/if}

